.site-footer {
  font-family: Montserrat, sans-serif;
  width: 100%;
  padding-top: 30px;
  background-color: #000;
  background-image: url(/.content/assets/images/footer-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center
}

.site-footer .back-to-top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: auto;
  font-size: 16px;
  line-height: 24px;
  color: #dfdfdf;
  text-decoration: none
}

.site-footer .back-to-top svg {
  color: #dfdfdf;
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  margin-bottom: 8px
}

.site-footer .back-to-top:hover,
.site-footer .back-to-top:hover svg {
  color: #f05c48
}

.site-footer .ow-shield {
  width: fit-content;
  display: block;
  height: auto;
  margin: 32px auto 224px
}

.site-footer .site-footer-nav {
  max-width: 1660px;
  margin: 64px auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-between
}

.site-footer .site-footer-nav .ow-symbol {
  width: 90px;
  height: 90px;
  color: #fff;
  margin-right: 10%
}

.site-footer .site-footer-nav .ow-logo {
  display: none;
  color: #fff;
  width: 160px;
  height: 50px;
  margin: 0 auto 100px
}

.site-footer .site-footer-nav nav {
  flex: 1
}

.site-footer .site-footer-nav nav>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 40px 10%;
  margin: 0;
  padding: 0;
  list-style: none
}

.site-footer .site-footer-nav nav>ul h5 {
  font-size: 16px;
  line-height: 110%;
  color: #9f9f9f;
  font-weight: 700
}

.site-footer .site-footer-nav nav>ul ul {
  margin: 16px 0 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px
}

.site-footer .site-footer-nav nav>ul ul li a {
  font-size: 14px;
  line-height: 110%;
  color: #9f9f9f;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  text-decoration: none
}

.site-footer .site-footer-nav nav>ul ul li a:hover {
  color: #dfdfdf;
  font-weight: 700;
  font-variation-settings: "wght" 700
}

.site-footer .site-footer-nav nav>ul ul li a.is-active {
  color: #fff;
  font-weight: 700
}

.site-footer .site-footer-social {
  background-color: #0d0d0d
}

.site-footer .site-footer-social .site-footer-social-inner {
  max-width: 1810px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px
}

.site-footer .site-footer-social .copyright {
  color: #9f9f9f;
  font-size: 14px;
  line-height: 110%
}

.site-footer .site-footer-social .social-links {
  display: flex;
  padding: 0;
  list-style: none;
  gap: 20px
}

.site-footer .site-footer-social .social-links li {
  height: 24px
}

.site-footer .site-footer-social .social-links li a {
  width: 24px;
  height: 24px;
  display: inline-block;
  color: #9f9f9f
}

.site-footer .site-footer-social .social-links li a:hover {
  color: #fff
}

.site-footer .site-footer-social .social-links svg {
  width: 24px;
  height: 24px
}

.site-header {
  font-family: Montserrat, sans-serif;
  letter-spacing: .3;
  background-color: #000;
  position: sticky;
  z-index: 100;
  width: 100%;
  left: 0;
  top: 0;
  transition: .3s
}

.site-header.sticky {
  background-color: #0d0d0d
}

.site-header .header-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px 20px;
  position: relative;
  z-index: 10;
  contain: layout;
  transition: .3s
}

.site-header .header-inner .hamburger-menu-button {
  display: none
}

.site-header .header-inner .logo {
  z-index: 1
}

.site-header .header-inner .logo .logo-desktop {
  width: 167px;
  height: 50px;
  color: #fff
}

.site-header .header-inner .logo .logo-desktop:hover {
  color: #ccc
}

.site-header .header-inner .mobile-action {
  display: none;
  margin-left: auto
}

.site-header .header-inner>nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ccc
}

.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(2)>a::before,
.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(3)>a::before,
.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(4)>a::before,
.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(3)>ul>li:nth-child(2)>a::before,
.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(3)>ul>li:nth-child(3)>a::before,
.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(5)>ul>li:nth-child(2)>a::before,
.site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(2)>a::before,
.site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(3)>a::before,
.site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(4)>a::before,
.site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(5)>a::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/.content/assets/svg/branding2021/ow-header-icons.svg);
  background-size: 244px;
  background-repeat: no-repeat;
  position: absolute;
  left: -15px;
  top: 11px
}

.site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(2)>a::before {
  background-position: top left 0
}

.site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(3)>a::before {
  background-position: top -1px left -38px
}

.site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(4)>a::before {
  background-position: top left -70px
}

.site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(5)>a::before {
  background-position: top -3px left -150px
}

.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(3)>ul>li:nth-child(2)>a::before {
  background-position: top 0 left -38px;
  top: 5px
}

.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(3)>ul>li:nth-child(3)>a::before {
  background-position: top left -75px;
  top: 5px
}

.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(2)>a::before {
  background-position: top left -112px;
  top: 6px;
  left: -18px
}

.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(3)>a::before {
  background-position: top -2px left -38px;
  top: 6px;
  left: -18px
}

.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(4)>a::before {
  background-position: top left 0;
  top: 6px;
  left: -18px
}

.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(4)>ul>li:nth-child(2)>a::before {
  background-position: top left -185px;
  top: 6px;
  left: -18px
}

.site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(5)>ul>li:nth-child(2)>a::before {
  background-position: top left;
  top: 6px;
  left: -18px
}

.site-header .header-inner>nav a {
  text-decoration: none;
  display: block
}

.site-header .header-inner>nav>ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  column-gap: 64px
}

.site-header .header-inner>nav>ul>li {
  line-height: 23px;
  white-space: nowrap
}

.site-header .header-inner>nav>ul>li:not(:first-child) {
  position: relative
}

.site-header .header-inner>nav>ul>li.has-submenu>a:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 6px;
  margin: 0 0 1px 15px;
  transition: transform .2s ease-out;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.32597L4.5 6L9 1.32597L7.7415 0L4.5 3.36701L1.2585 0L0 1.32597Z' fill='%23CCCCCC'/%3E%3C/svg%3E");
  background-repeat: no-repeat
}

.site-header .header-inner>nav>ul>li a {
  position: relative
}

.site-header .header-inner>nav>ul>li>a:not(.btn-secondary-small) {
  height: 40px;
  display: flex;
  align-items: center;
  color: #dfdfdf
}

.site-header .header-inner>nav>ul>li>a:not(.btn-secondary-small).is-active {
  color: #fff
}

.site-header .header-inner>nav>ul>li>a:not(.btn-secondary-small).is-active::before {
  width: 100%
}

.site-header .header-inner>nav>ul>li>a:not(.btn-secondary-small)::before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #d34037;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 150ms
}

.site-header .header-inner>nav>ul>li>a:not(.btn-secondary-small) br {
  display: none
}

.site-header .header-inner>nav>ul>li:hover>a:not(.btn-secondary-small) {
  color: #ccc
}

.site-header .header-inner>nav>ul>li:hover>a:not(.btn-secondary-small)::before {
  width: 100%
}

.site-header .header-inner>nav>ul>li:hover>ul {
  opacity: 1;
  transform: rotateX(0);
  pointer-events: all
}

.site-header .header-inner>nav>ul>li>ul {
  position: absolute;
  left: -200px;
  top: 68px;
  min-height: 292px;
  list-style: none;
  margin: 0;
  display: block;
  padding: 48px 56px 48px 420px;
  background-color: #202020;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, .4);
  opacity: 0;
  pointer-events: none;
  transform-origin: center -90px;
  transform: perspective(50em) rotateX(-15deg);
  transition: transform 250ms, opacity 250ms;
  animation: .3s quick-disappear
}

@keyframes quick-disappear {

  0%,
  100% {
    opacity: 0
  }
}

.site-header .header-inner>nav>ul>li>ul::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -34px;
  height: 54px;
  cursor: pointer
}

.site-header .header-inner>nav>ul>li>ul li {
  margin: 0;
  white-space: nowrap;
  min-width: 200px
}

.site-header .header-inner>nav>ul>li>ul li:not(:last-child) {
  margin-bottom: 8px
}

.site-header .header-inner>nav>ul>li>ul li.sub-menu-description {
  position: absolute;
  left: 58px;
  width: 230px
}

.site-header .header-inner>nav>ul>li>ul li.sub-menu-description h2 {
  font-size: 36px;
  line-height: 45px;
  color: #dfdfdf;
  margin-bottom: 22px
}

.site-header .header-inner>nav>ul>li>ul li.sub-menu-description p {
  font-family: lato;
  font-size: 18px;
  line-height: 150%;
  color: #dfdfdf;
  white-space: normal
}

.site-header .header-inner>nav>ul>li>ul li>a {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 18px;
  padding-right: 10px;
  color: #dfdfdf;
  width: fit-content
}

.site-header .header-inner>nav>ul>li>ul li>a.is-active,
.site-header .header-inner>nav>ul>li>ul li>a:hover {
  color: #fff
}

.site-header .header-inner>nav>ul>li .multi-sub-menu {
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 24px;
  width: 100%;
  padding: 48px 58px;
  max-width: 1648px;
  margin: auto
}

.site-header .header-inner>nav>ul>li .multi-sub-menu>li {
  padding-top: 0;
  width: 200px
}

.site-header .header-inner>nav>ul>li .multi-sub-menu>li.sub-menu-description {
  position: unset
}

.site-header .header-inner>nav>ul>li .multi-sub-menu>li>a {
  font-size: 22px;
  display: flex;
  align-items: center;
  height: 44px;
  margin-bottom: 16px;
  padding-top: 0;
  pointer-events: none;
  font-weight: 500;
  color: #dfdfdf
}

.site-header .header-inner>nav>ul>li .multi-sub-menu>li>ul {
  list-style: none;
  margin: 0;
  padding: 0
}

.site-header .header-inner>nav>ul>li .multi-sub-menu>li>ul>li>a {
  display: flex;
  align-items: center
}

.hamburger-menu-button {
  z-index: 1;
  display: block;
  background: 0 0;
  width: 24px;
  height: 24px;
  outline: 0;
  border: none;
  cursor: pointer
}

.hamburger-menu-button>div {
  position: relative;
  width: 24px;
  height: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: .4s ease-in-out
}

.hamburger-menu-button>div span {
  background: #f2f2f2;
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  transition: .4s ease-in-out;
  border-radius: 1px
}

.hamburger-menu-button>div span:nth-child(1) {
  top: 0;
  left: 0
}

.hamburger-menu-button>div span:nth-child(2) {
  top: 8px;
  left: 0
}

.hamburger-menu-button>div span:nth-child(3) {
  top: 16px;
  left: 0
}

.hamburger-menu-button.close>div {
  transform: rotate(-180deg)
}

.hamburger-menu-button.close>div span {
  background: #ccc
}

.hamburger-menu-button.close>div span:nth-child(1) {
  transform: translate(0, 8px) rotate(45deg)
}

.hamburger-menu-button.close>div span:nth-child(2) {
  transform: scale(0, 1)
}

.hamburger-menu-button.close>div span:nth-child(3) {
  transform: translate(0, -8px) rotate(-45deg)
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

svg {
  width: 100%;
  height: 100%
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px
}

body {
  background-color: #000;
  color: #dfdfdf;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  padding: 0
}

b,
strong {
  font-weight: 700
}

button {
  cursor: pointer
}

button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-weight: 700;
  line-height: 127.273%
}

h1 {
  font-size: 64px;
  line-height: 112.5%
}

h2 {
  font-size: 44px
}

h3 {
  font-size: 32px;
  line-height: 125%
}

h4 {
  font-size: 24px;
  line-height: 160%
}

h5 {
  font-size: 26px
}

h6 {
  font-size: 22px
}

.sub-title {
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 145.455%
}

.hidden {
  display: none !important
}

a:not(.btn-primary, .btn-primary-new, .btn-secondary, .btn-secondary-new, .btn-secondary-small) {
  color: #dfdfdf;
  text-decoration: underline;
  overflow-wrap: break-word;
  text-underline-offset: 3px;
  transition: 150ms
}

a:not(.btn-primary, .btn-primary-new, .btn-secondary, .btn-secondary-new, .btn-secondary-small):hover {
  color: #d34037
}

.btn-primary,
.btn-primary-new,
.btn-secondary,
.btn-secondary-new {
  font-family: Montserrat, sans-serif;
  border: none;
  text-decoration: none;
  font-weight: 500;
  padding: 16px 32px;
  font-size: 16px;
  line-height: 110%;
  height: 48px;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  text-transform: uppercase
}

.btn-primary,
.btn-primary-new {
  color: #fff;
  background-color: #d34037
}

.btn-primary-new:hover,
.btn-primary:hover {
  background-color: #f05c48
}

.btn-secondary,
.btn-secondary-new,
.btn-secondary-small {
  border: 1px solid #dfdfdf;
  color: #dfdfdf;
  background-color: transparent;
  line-height: 15px
}

.btn-secondary-new.light,
.btn-secondary-small.light,
.btn-secondary.light {
  border-color: #202020;
  color: #202020
}

.btn-secondary-new:hover,
.btn-secondary-small:hover,
.btn-secondary:hover {
  background-color: #f05c48;
  border-color: #f05c48;
  color: #fff
}

.btn-secondary-small {
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  font-weight: 500;
  padding: 8px 32px;
  font-size: 16px;
  line-height: 140%;
  height: 40px;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block
}

.table-container {
  overflow-y: auto
}

.table-container.small-table {
  overflow-y: unset
}

table {
  background-color: #101010;
  border-collapse: collapse
}

table th:not(:last-child) {
  border-right-color: #404040
}

table th {
  background-color: #202020;
  text-align: left;
  border: 1px solid #303030;
  padding: 20px 56px 20px 22px;
  font-size: 20px;
  line-height: 144%;
  white-space: nowrap;
  color: #f2f2f2
}

table td {
  border: 1px solid #303030;
  padding: 34px 20px 28px 30px;
  vertical-align: top;
  font-size: 18px;
  line-height: 150%;
  color: #dfdfdf
}

ol,
ul {
  padding-inline-start: 25px
}

ul li::marker {
  color: #d34037;
  font-size: 1.25em
}

ol {
  list-style: none;
  padding-left: 0
}

ol li {
  counter-increment: my-awesome-counter;
  display: flex
}

ol li::before {
  content: counter(my-awesome-counter) ".";
  padding-right: 10px
}

fieldset {
  border: none
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px
}

.is-loading {
  position: relative
}

.is-loading::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  border: 5px solid #fff;
  border-top-color: transparent;
  animation: 2s linear infinite rotating;
  z-index: 0
}

@media (min-width:1024px) {
  .mobile-only {
    display: none !important
  }
}

@media (max-width:1680px) {
  .site-footer .site-footer-nav nav>ul {
    column-gap: 8%
  }
}

@media (max-width:1650px) {
  .site-header .header-inner>nav>ul>li .multi-sub-menu {
    row-gap: 30px
  }
}

@media (max-width:1624px) {
  .site-header .header-inner>nav>ul>li>ul li:not(:last-child) {
    margin-bottom: 0
  }
}

@media (max-width:1580px) {
  .site-footer .site-footer-nav nav>ul {
    column-gap: 6%
  }
}

@media (max-width:1320px) {
  .site-header .header-inner>nav>ul {
    column-gap: 30px
  }
}

@media (max-width:1100px) {
  .site-header .header-inner {
    contain: initial;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 16px
  }

  .site-header .header-inner .hamburger-menu-button {
    display: block
  }

  .site-header .header-inner .logo .logo-desktop {
    width: 121px;
    height: 38px
  }

  .site-header .header-inner .mobile-action {
    display: block
  }

  .site-header .header-inner>nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .3s ease-out;
    background: rgba(0, 0, 0, .8);
    animation: .2s quick-hide-mobile-menu
  }

  @keyframes quick-hide-mobile-menu {

    0%,
    100% {
      opacity: 0
    }
  }

  .site-header .header-inner>nav.is-open {
    opacity: 1
  }

  .site-header .header-inner>nav:not(.is-open) {
    pointer-events: none
  }

  .site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(2)>a::before,
  .site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(3)>a::before,
  .site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(2)>ul>li:nth-child(4)>a::before,
  .site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(3)>ul>li:nth-child(2)>a::before,
  .site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(3)>ul>li:nth-child(3)>a::before,
  .site-header .header-inner>nav ul:not(.multi-sub-menu)>li:nth-child(5)>ul>li:nth-child(2)>a::before,
  .site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(2)>a::before,
  .site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(3)>a::before,
  .site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(4)>a::before,
  .site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(5)>a::before {
    left: 20px;
    top: 15px
  }

  .site-header .header-inner>nav ul>li:nth-child(1)>ul>li:nth-child(4)>a::before {
    background-position: top left -74px
  }

  .site-header .header-inner>nav>ul {
    position: absolute;
    left: 0;
    top: 76px;
    margin: 0;
    flex-direction: column;
    background-color: #202020;
    text-align: center;
    width: 100%;
    overflow: overlay;
    height: 100vh;
    padding-top: 16px;
    padding-bottom: 80px
  }

  .site-header .header-inner>nav>ul::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #202020
  }

  .site-header .header-inner>nav>ul::-webkit-scrollbar-thumb {
    border-width: 0;
    background-color: #535353;
    background-clip: padding-box
  }

  .site-header .header-inner>nav>ul>li {
    width: 100%;
    margin: 0
  }

  .site-header .header-inner>nav>ul>li.cta-item {
    margin-top: auto
  }

  .site-header .header-inner>nav>ul>li.has-submenu.is-open>a:after {
    transform: rotate(-180deg)
  }

  .site-header .header-inner>nav>ul>li.has-submenu.is-open>ul {
    background-color: #000
  }

  .site-header .header-inner>nav>ul>li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    font-size: 16px;
    line-height: 24px
  }

  .site-header .header-inner>nav>ul>li>a:not(.btn-secondary-small) {
    font-weight: 500;
    font-size: 18px;
    margin: 0 20px;
    height: 48px
  }

  .site-header .header-inner>nav>ul>li>a:not(.btn-secondary-small).is-active::before {
    width: 4px
  }

  .site-header .header-inner>nav>ul>li>a:not(.btn-secondary-small)::before {
    width: 4px;
    height: 0;
    top: 0;
    bottom: 0;
    left: -20px;
    margin: auto
  }

  .site-header .header-inner>nav>ul>li:hover>a:not(.btn-secondary-small)::before {
    width: 4px
  }

  .site-header .header-inner>nav>ul>li .btn-secondary-small {
    width: fit-content;
    margin: 64px auto 150px
  }

  .site-header .header-inner>nav>ul>li>ul {
    transform-origin: unset;
    transform: unset
  }

  .site-header .header-inner>nav>ul>li>ul li.sub-menu-description {
    display: none
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu {
    flex-direction: column;
    row-gap: 0
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li {
    width: 100%;
    text-align: left
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li>a {
    display: flex;
    font-size: 16px;
    letter-spacing: normal;
    text-transform: none;
    pointer-events: all;
    font-weight: 700
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li>a:hover {
    text-decoration: none
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li>ul {
    max-height: 0;
    min-height: unset;
    transition: max-height .25s;
    overflow: hidden
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li.has-submenu>a:after {
    content: "";
    display: inline-block;
    width: 9px;
    height: 6px;
    margin: 0 24px 0 0;
    transition: transform .2s ease-out;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.32597L4.5 6L9 1.32597L7.7415 0L4.5 3.36701L1.2585 0L0 1.32597Z' fill='%23CCCCCC'/%3E%3C/svg%3E");
    background-repeat: no-repeat
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li.is-open ul {
    max-height: 300px;
    background-color: #080808
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu,
  .site-header .header-inner>nav>ul>li>ul {
    position: static;
    max-height: 0;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: max-height .25s;
    overflow: hidden;
    width: 100%;
    box-shadow: none;
    pointer-events: all;
    text-align: left;
    animation: none;
    min-height: unset
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu::before,
  .site-header .header-inner>nav>ul>li>ul::before {
    content: none
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu li:not(:last-child),
  .site-header .header-inner>nav>ul>li>ul li:not(:last-child) {
    margin: 0
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li>a,
  .site-header .header-inner>nav>ul>li .multi-sub-menu>li>ul>li>a,
  .site-header .header-inner>nav>ul>li>ul>li>a,
  .site-header .header-inner>nav>ul>li>ul>li>ul>li>a {
    padding-left: 48px;
    margin: 0;
    width: 100%
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li>a,
  .site-header .header-inner>nav>ul>li>ul>li>a {
    height: 48px
  }

  .site-header .header-inner>nav>ul>li .multi-sub-menu>li>ul>li>a,
  .site-header .header-inner>nav>ul>li>ul>li>ul>li>a {
    height: 40px
  }

  .site-header .header-inner>nav>ul>li.is-open a::before {
    height: 25px
  }

  .site-header .header-inner>nav>ul>li.is-open>ul {
    max-height: 300px
  }

  .site-header .header-inner>nav>ul>li.is-open .multi-sub-menu {
    max-height: 820px
  }
}

@media (max-width:1100px) and (max-width:1100px) {
  .site-header .header-inner>nav>ul>li .multi-sub-menu>li.is-open>a:after {
    transform: rotate(-180deg)
  }
}

@media (max-width:1024px) {
  .desktop-only {
    display: none !important
  }
}

@media (max-width:800px) {
  .site-footer {
    background-size: auto;
    padding-top: 16px
  }

  .site-footer .ow-shield {
    margin-bottom: 85px;
    margin-top: 104px;
    width: 210px
  }

  .site-footer .site-footer-nav {
    flex-direction: column;
    margin: 54px 0
  }

  .site-footer .site-footer-nav .ow-symbol {
    display: none
  }

  .site-footer .site-footer-nav .ow-logo {
    display: block
  }

  .site-footer .site-footer-social .site-footer-social-inner {
    padding-top: 16px;
    padding-bottom: 16px;
    flex-direction: column
  }

  h1,
  h2 {
    font-size: 32px
  }

  .sub-title,
  h6 {
    font-size: 18px
  }
}

@media (max-width:600px) {
  .site-footer .site-footer-nav nav>ul {
    gap: 40px 5%
  }

  table th {
    padding: 14px 20px 18px;
    font-size: 16px;
    line-height: 150%;
    white-space: normal
  }

  table td {
    padding: 20px;
    font-size: 16px;
    line-height: 150%
  }
}